# Compilados y ejecutables 
*.class
*.dll
*.exe
# Archivos comprimidos 
*.dmg
*.zip
# Logs y BBDD 
*.log
*.sql
# Archivos generados por SSOO 
.DS_Store
Thumbs.db
._*

IntroSwift.playground/contents.xcplayground
playground.xcworkspace/
xcuserdata/
